/*reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Global style */
h1,
h2,
h3,
h5 {
  font-weight: 700;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 3.5rem;
  color: var(--heading-2);
}
h4 {
  color: var(--heading-2);
}
h5 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
a,
.btn-nav,
.logo {
  cursor: pointer;
}
p {
  font-size: 1.3rem;
}

/* Classes */

.primary-btn,
.secondary-btn {
  background-color: var(--blue-color);
  border-radius: 50px;
  padding: 1rem 1.5rem;
  color: #fff;
}
.secondary-btn {
  background-color: var(--white-color);
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}
.fw-500 {
  font-weight: 500;
}
.small {
  font-size: 1rem;
}
/* Global style ends here */

:root {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  --text-color: #15357a;
  --blue-color: #2c71f0;
  --bllue-color_hover: #4586ff;
  --heading-2: #15357a;
  --green-color: #00ac6b;
  --white-color: #fff;
}
header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: var(--green-color);
  transition: all 0.4s;
}
header:hover {
  transition: background-color 0.4s;
  background-color: var(--white-color);
  box-shadow: 0 2px 5px rgba(101, 101, 101, 0.199);
}
header:hover .btn-nav {
  color: var(--text-color);
}
header:hover .btn-nav_request {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.theme {
  transition: background-color 0.4s;
  background-color: var(--white-color);
  box-shadow: 0 2px 5px rgba(101, 101, 101, 0.199);
}
.btn-nav {
  padding: 0.5rem 0.9rem;
  border-radius: 50px;
  color: var(--white-color);
}
.btn-nav:hover {
  background-color: #eaf1fe;
  transition: all 0.3s;
}
.btn-nav_request {
  background-color: transparent;
  border: 1px solid var(--white-color);
}
.btn-nav_request:hover {
  background-color: var(--bllue-color_hover) !important;
}
#hero {
  background-color: var(--green-color);
  color: var(--white-color);
}
.auto-wrapper {
  width: 100%;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}
.auto-slider {
  position: absolute;
  top: 50%;
  width: 200%;
  left: 0;
  transform: translate(0%, -50%);
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
#global {
  background-color: rgba(255, 237, 158, 0.65);
}
.global-img-container {
  position: relative;
}
.global-img-container > .primary-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
h5 ~ p {
  color: var(--heading-2);
}

/* media query */
@media (max-width: 770px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .stat {
    font-size: 3.6rem;
  }
}
@media (min-width: 900px) {
  .cs-gutter {
    --bs-gutter-x: 10rem;
  }
}
